<h1>Customers</h1>

<!-- Bad practice: no proper styling or structure -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.company %></td>
        <td><%= customer.status %></td>
        <td>
          <%= link_to 'Show', customer %>
          <%= link_to 'Edit', edit_customer_path(customer) %>
          <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Customer', new_customer_path %>
